examples/drools-mas-emergency-agent-client/src/wsdl/localhost_8080/new-action-agent/services/.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="SynchronousDroolsAgentServiceImplService" targetNamespace="http://mas.drools.org/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mas.drools.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://mas.drools.org/" version="1.0" xmlns:ns1="http://acts.body.mas.drools.org/" xmlns:tns="http://mas.drools.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://acts.body.mas.drools.org/"/>
<xs:element name="tell" type="tns:tell"/>
<xs:element name="tellResponse" type="tns:tellResponse"/>
<xs:complexType name="tell">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:ACLMessage"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="ACLMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="version" type="xs:string"/>
      <xs:element minOccurs="0" name="messageType" type="xs:string"/>
      <xs:element name="protocol" type="xs:string"/>
      <xs:element name="conversationId" type="xs:string"/>
      <xs:element name="replyWith" type="xs:string"/>
      <xs:element name="inReplyTo" type="xs:string"/>
      <xs:element name="replyBy" type="xs:long"/>
      <xs:element name="ontology" type="xs:string"/>
      <xs:element name="language" type="xs:string"/>
      <xs:element name="encoding" type="tns:Encodings"/>
      <xs:element name="sender" type="tns:AgentID"/>
      <xs:element maxOccurs="unbounded" name="receiver" type="tns:AgentID"/>
      <xs:element maxOccurs="unbounded" name="replyTo" type="tns:AgentID"/>
      <xs:element name="performative" type="tns:Act"/>
      <xs:element name="body" type="ns1:AbstractMessageBody"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="AgentID">
    <xs:sequence>
      <xs:element minOccurs="0" name="localName" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="tellResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:ACLMessage"/>
    </xs:sequence>
  </xs:complexType>
<xs:simpleType name="Encodings">
    <xs:restriction base="xs:string">
      <xs:enumeration value="XML"/>
      <xs:enumeration value="JSON"/>
      <xs:enumeration value="GSON"/>
      <xs:enumeration value="BYTE"/>
      <xs:enumeration value="NONE"/>
    </xs:restriction>
  </xs:simpleType>
<xs:simpleType name="Act">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACCEPT"/>
      <xs:enumeration value="AGREE"/>
      <xs:enumeration value="CANCEL"/>
      <xs:enumeration value="CALL_FOR_PROPOSAL"/>
      <xs:enumeration value="CONFIRM"/>
      <xs:enumeration value="DISCONFIRM"/>
      <xs:enumeration value="FAILURE"/>
      <xs:enumeration value="INFORM"/>
      <xs:enumeration value="INFORM_IF"/>
      <xs:enumeration value="INFORM_REF"/>
      <xs:enumeration value="NOT_UNDERSTOOD"/>
      <xs:enumeration value="PROPOSE"/>
      <xs:enumeration value="QUERY_IF"/>
      <xs:enumeration value="QUERY_REF"/>
      <xs:enumeration value="REFUSE"/>
      <xs:enumeration value="REJECT"/>
      <xs:enumeration value="REQUEST"/>
      <xs:enumeration value="REQUEST_WHEN"/>
      <xs:enumeration value="REQUEST_WHENEVER"/>
      <xs:enumeration value="SUBSCRIBE"/>
      <xs:enumeration value="PROXY"/>
      <xs:enumeration value="PROPAGATE"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<xs:schema targetNamespace="http://mappers.mas.drools.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="MyMapReferenceEntryType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="key" type="xs:int"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
<xs:complexType name="MyMapArgsEntryType">
    <xs:sequence>
      <xs:element name="key" type="xs:string"/>
      <xs:element name="value" type="xs:anyType"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<xs:schema targetNamespace="http://content.body.mas.drools.org/" version="1.0" xmlns:ns1="http://acts.body.mas.drools.org/" xmlns:ns2="http://mappers.mas.drools.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://acts.body.mas.drools.org/"/>
<xs:import namespace="http://mappers.mas.drools.org/"/>
<xs:complexType name="Info">
    <xs:complexContent>
      <xs:extension base="ns1:AbstractMessageContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="data" type="xs:anyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="Action">
    <xs:complexContent>
      <xs:extension base="ns1:AbstractMessageContent">
        <xs:sequence>
          <xs:element name="returnVariable" type="xs:string"/>
          <xs:element name="actionName" type="xs:string"/>
          <xs:element maxOccurs="unbounded" name="references" type="ns2:MyMapReferenceEntryType"/>
          <xs:element maxOccurs="unbounded" name="args" type="ns2:MyMapArgsEntryType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="Rule">
    <xs:complexContent>
      <xs:extension base="ns1:AbstractMessageContent">
        <xs:sequence>
          <xs:element name="drl" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="Query">
    <xs:complexContent>
      <xs:extension base="ns1:AbstractMessageContent">
        <xs:sequence>
          <xs:element name="queryName" type="xs:string"/>
          <xs:element maxOccurs="unbounded" name="references" type="ns2:MyMapReferenceEntryType"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="args" type="xs:anyType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="Ref">
    <xs:complexContent>
      <xs:extension base="ns1:AbstractMessageContent">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="references" type="ns2:MyMapArgsEntryType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
<xs:schema targetNamespace="http://acts.body.mas.drools.org/" version="1.0" xmlns:ns1="http://mas.drools.org/" xmlns:ns2="http://content.body.mas.drools.org/" xmlns:tns="http://acts.body.mas.drools.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://mas.drools.org/"/>
<xs:import namespace="http://content.body.mas.drools.org/"/>
<xs:complexType abstract="true" name="AbstractMessageBody">
    <xs:sequence>
      <xs:element name="performative" type="ns1:Act"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="Inform">
    <xs:complexContent>
      <xs:extension base="tns:AbstractMessageBody">
        <xs:sequence>
          <xs:element name="proposition" type="ns2:Info"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType abstract="true" name="AbstractMessageContent">
    <xs:sequence>
      <xs:element minOccurs="0" name="encodedContent" type="xs:string"/>
      <xs:element name="encoded" type="xs:boolean"/>
      <xs:element minOccurs="0" name="encoding" type="ns1:Encodings"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="QueryIf">
    <xs:complexContent>
      <xs:extension base="tns:AbstractMessageBody">
        <xs:sequence>
          <xs:element name="proposition" type="ns2:Info"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="InformIf">
    <xs:complexContent>
      <xs:extension base="tns:AbstractMessageBody">
        <xs:sequence>
          <xs:element name="proposition" type="ns2:Info"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="Agree">
    <xs:complexContent>
      <xs:extension base="tns:AbstractMessageBody">
        <xs:sequence>
          <xs:element name="action" type="ns2:Action"/>
          <xs:element name="condition" type="ns2:Rule"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="Failure">
    <xs:complexContent>
      <xs:extension base="tns:AbstractMessageBody">
        <xs:sequence>
          <xs:element name="action" type="ns2:Action"/>
          <xs:element name="cause" type="ns2:Info"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="QueryRef">
    <xs:complexContent>
      <xs:extension base="tns:AbstractMessageBody">
        <xs:sequence>
          <xs:element name="query" type="ns2:Query"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="InformRef">
    <xs:complexContent>
      <xs:extension base="tns:AbstractMessageBody">
        <xs:sequence>
          <xs:element name="references" type="ns2:Ref"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="Request">
    <xs:complexContent>
      <xs:extension base="tns:AbstractMessageBody">
        <xs:sequence>
          <xs:element name="action" type="ns2:Action"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="RequestWhen">
    <xs:complexContent>
      <xs:extension base="tns:AbstractMessageBody">
        <xs:sequence>
          <xs:element name="action" type="ns2:Action"/>
          <xs:element name="condition" type="ns2:Rule"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="tellResponse">
    <wsdl:part element="tns:tellResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="tell">
    <wsdl:part element="tns:tell" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SynchronousDroolsAgentService">
    <wsdl:operation name="tell">
      <wsdl:input message="tns:tell" name="tell">
    </wsdl:input>
      <wsdl:output message="tns:tellResponse" name="tellResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SynchronousDroolsAgentServiceImplServiceSoapBinding" type="tns:SynchronousDroolsAgentService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="tell">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="tell">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="tellResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SynchronousDroolsAgentServiceImplService">
    <wsdl:port binding="tns:SynchronousDroolsAgentServiceImplServiceSoapBinding" name="SynchronousDroolsAgentServiceImplPort">
      <soap:address location="http://localhost:8080/new-action-agent/services/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>